@model IEnumerable<Contato>
@{
    ViewData["Title"] = "Usuarios";
}
<h1>Página de usuarios</h1>
<table class="table table-striped table-hover">
 <thead>
     <tr>
         <td>Nome</td>
         <td>E-mail</td>
         <td>Telefone</td>
         <td>Celular</td>         
     </tr>

 </thead>
 <tbody>
     @foreach (var usuario in Model)
     {
        <tr>
            <td>@usuario.Nome</td>
            <td>@usuario.Email</td>
            <td>@usuario.Telefone</td>
            <td>@usuario.Celular</td>
        </tr> 
     }

 </tbody>
</table>